@model Model.Filmes

@{
    ViewBag.Title = "Buscar";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.titulo)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.duracao)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ano)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.classificacao_id)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.produtora_id)</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => Model.titulo)</th>
                <td>@Html.DisplayFor(modelItem => Model.duracao)</td>
                <td>@Html.DisplayFor(modelItem => Model.ano)</td>
                <td>@Html.DisplayFor(modelItem => Model.classificacao_id)</td>
                <td>@Html.DisplayFor(modelItem => Model.produtora_id)</td>
            </tr>
    </tbody>
</table>


